.container{
    width: 500px;
    height: 450px;
    border: 2px double black;
    text-align:center;
}
#para{
    font-size: 20px;
    border-top: 2px double black;
    border-bottom: 2px double black;
}
    



